@import url("https://fonts.googleapis.com/css2?family=Mohave:ital,wght@0,300..700;1,300..700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Mohave", sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  background-color: #e6c661;
}

.join {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 10px;
}

.container {
  width: 95%;
  max-height: 90%;
  background-color: white;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
}
.ticketSection {
  margin: 10px 0;
  width: 50%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  overflow-y: scroll;
  align-items: center;
}
.detailSection.Selected {
  display: block;
}
.detailSection {
  width: 50%;
  display: none;
  background-color: black;
  overflow-y: auto;
  color: white;
}
.detailSection .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #590e15;
  padding: 20px;
  font-weight: 600;
}
.detailSection .details {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: smaller;
  font-weight: 200;
}
.detailSection .image img {
  width: 30%;
  filter: invert(100%);
}
.detailSection .image {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.details .about {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.details .value {
  font-weight: 600;
  font-size: larger;
}

.ticket {
  width: 70%;
  height: 40%;
  display: flex;
  margin-top: 10%;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.ticket .content {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: smaller;
  font-family: "Mohave", serif;
  overflow: hidden;
}
.ticket .content .Header {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  padding: 2%;
  border-radius: 15px 15px 0 0;
  background-color: #e6c661;
}
.ticket .content .Details {
  padding: 2%;
  border-radius: 0 0 15px 15px;
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
  border-right: 4px dotted #e6c661;
  height: 100%;
}
.ticket .content .Details > * {
  display: flex;
  justify-content: space-between;
}
.ticket .content .Details .wrap {
  font-size: smaller;
  font-weight: 200;
}
.ticket .content .Details .wrap .value {
  font-size: larger;
  font-weight: 600;
}
.ticket .image {
  background-color: #e6c661;
  width: 20%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15%;
}
img {
  width: 90%;
  height: auto;
}
.container button {
  border: none;
  padding: 5px 20px;
  border-radius: 20px;
  font-size: larger;
  background-color: #590e15;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.container button.join-btn {
  margin-left: 50%;
  transform: translateX(-50%);
}

.filterSection.Selected {
  height: auto;
  width: 50%;
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color:#e6c661;
  margin-top: 20px;
  border-radius: 15px;
  padding: 20px;
  color: white;
  font-weight: 600;
  font-size: larger;
  gap:10px;  
}
.filterSection button{
  font-size: small;
  background:none;
  border: 1px solid #590e15;
  margin-top: 5px;
}
.filterSection button.Search{
  background-color: #590e15;
  font-size: large;
  width:40%;  
  margin-left: 50%;
  transform: translateX(-50%);
}

.filterSection .mode{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:10px;
  
}

::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}
::-webkit-scrollbar:hover {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(246, 249, 221);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #e6c661;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #590e15;
}

@media (min-width: 1024px) {
  .ticket:hover {
    width: 70%;
    height: 40%;
    display: flex;
    margin-top: 10%;
    cursor: pointer;
    transform: scale(1.1);
  }
  .container button.filter-btn {
    position: fixed;
    left: 5%;
  }
  .detailSection {
    padding-bottom: 20px;
  }
  .filterSection.Selected {
    height: 75%;
    width: 30%;
  }
  .filterSection button.mode{
    margin-top: 20px;
    width:120px;
    background-color: white;
    border:none;
  }
}
@media (min-width: 480px) and (max-width: 1024px) {
  .ticketSection.Selected {
    opacity: 0.7;
    pointer-events: none;
  }
  .ticket:hover {
    width: 70%;
    height: 40%;
    display: flex;
    margin-top: 10%;
    cursor: pointer;
    transform: scale(1.1);
  }

  .detailSection.Selected {
    width: 50%;
    height: 75%;
    border-radius: 5%;
    display: block;
    position: fixed;
    overflow: visible;
  }

  .ticketSection {
    width: 100%;
  }
  .detailSection .header {
    border-radius: 15px 15px 0 0;
  }
  .container button.filter-btn {
    position: fixed;
    left: 5%;
  }
  .filterSection.Selected {
    height: auto;
    width: 50%;
  }
  .filterSection button.mode{
    width:100px;
    background-color: white;
    border: none;
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  .ticketSection.Selected {
    opacity: 0.7;
    pointer-events: none;
  }
  .detailSection.Selected {
    width: 70%;
    height: 75%;
    border-radius: 5%;
    display: block;
    position: fixed;
    overflow: visible;
  }

  .ticketSection {
    width: 100%;
    margin-top: 20%;
    height: 70vh;
  }
  .ticket {
    width: 90%;
    height: 30%;
    display: flex;
  }
  .detailSection .header {
    border-radius: 15px 15px 0 0;
  }
  button.filter-btn {
    position: fixed;
    top: 10%;
    left: 10%;
  }
  element-selector {
    -webkit-tap-highlight-color: transparent;
  }
  button,
  a {
    -webkit-tap-highlight-color: transparent;
  }
  .filterSection.Selected {
    height: auto;
    width: 70%;
  }
  .filterSection button.mode{
    background-color: white;
    border:none;
  }
  .filterSection .mode{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
  }
  .filterSection button.mode img{
    width: 50px;
  }
}
